In [9]:
from eclat import Eclat
import pandas as pd

In [10]:
eclat = Eclat(pd.read_csv('Sample data.csv', header=None), 2)

In [11]:
eclat.getTransactions()
eclat.getUniqueItems()
df = pd.DataFrame(eclat.getScores()).T

In [12]:
df.columns = ['Pairs', 'Scores', 'Confidence']
df.sort_values('Scores', ascending=False).head(10)

                               Pairs Scores Confidence
2538      (mineral water, spaghetti)   0.08       0.32
2535           (mineral water, eggs)   0.07       0.28
158           (green tea, spaghetti)   0.05   0.333333
3557                 (burgers, eggs)   0.05        0.5
3725  (spaghetti, frozen vegetables)   0.05       0.25
2519    (mineral water, ground beef)   0.05        0.2
146        (green tea, french fries)   0.04   0.266667
1631     (fresh tuna, mineral water)   0.04          1
2504     (mineral water, energy bar)   0.04       0.16
695       (chocolate, mineral water)   0.04   0.333333